body{
    /* background: url("/images/misc/background.jpeg") no-repeat center center fixed;
    background-size: auto;
    -webkit-background: cover;
    -moz-background: cover;
    -webkit-background: cover;  */
    background-color: #233;
  }

  .home-text-top{
    text-align: center;
    color: tomato;
    padding: "3rem 0";
    text-transform: uppercase;
    text-shadow: 2px 2px #331111
  }
  

  .home-text-body{
   
    padding: "3rem 0";
    text-transform: uppercase;
  }

.homeButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap:wrap;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.home-nav-btn{
    background-color: darkblue;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
}

